/.agents/
/.conda
/build/
/generated/
/log

/tools/cmake-*/
/tools/cpphdl/
/tools/scalepnr/
/tools/slang/
/tools/yosys/
/tools/yosys-slang/

/package/out/
/package/MemoryPrj/design.json
/package/MemoryPrj/generated/
/package/MemoryPrj/.trident/cpphdl_include/
/package/MemoryPrj/.trident/run/
/package/MemoryPrj/.trident/schematics_test.json
/package/MemoryPrj/.trident/synthesis_start
